/*variables*/
:root {
    --main-border-radius: 8px;
    --main-red-color: #cb1818;
    --main-green-color: #37ce3f;
}

/* main */
html {
    height: 0px;
}

.app {
    /* height: 100vh; */
    background: var(--main-red-color);
}

.header {
    background: var(--main-red-color);
}

.main {
    background: var(--main-red-color);
    color: white;
    width: 100%;
    padding: 2rem 2rem;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    position: relative;
    line-height: 2.5rem;
    color: white;
}

h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
}

/*cover letter*/
.cover-letter__label {
    width: 100%;
    text-align: center;
}

.cover-letter__textarea-container {
    background: white;
    border-radius: var(--main-border-radius);
    overflow: hidden
}

.cover-letter__textarea::-webkit-scrollbar {
    width: 10px;
}

.cover-letter__textarea::-webkit-scrollbar-track {
    background-color:#edeadf;
    border-radius: var(--main-border-radius);
}

.cover-letter__textarea::-webkit-scrollbar-thumb {
    border-radius: var(--main-border-radius);
    background-color: var(--main-green-color);
}

.cover-letter__textarea {
    resize: none;
    border: none;
    padding: 10px;
    outline: none;
}

/*button*/
.button-start {
    text-align: center;
    display: block;
    border: 0;
    border-radius: var(--main-border-radius);
    margin: 2rem auto 0;
    width: 7rem;
    height: 2.5rem;
    background-color: var(--main-green-color);
    color: white;

    font-size: 1.2rem;
    font-weight: 700;

    transition: 0.2s all ease;
}

.button-start:hover {
    cursor: pointer;
    background: darkess;
    filter: brightness(85%);
}

/*other*/
.warning-hh {
    display: none;
    color: red;
}

.error {
    display: none;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem;
    background-color: black;
    color: rgb(255, 141, 11);
    border-radius: var(--main-border-radius);
}

.error__image {
    max-width: 25%;
    margin-right: 1rem;
}

.error__text {
    font-size: 1.1rem;
    font-weight: 300;
    text-wrap: balance;
}